<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
    <h3><i class="fa fa-graduation-cap text-grey-color"></i> {{'T_EDUCATION' | translate}}</h3>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    <h3 class="text-right"> 
            <a class="" href ng-click="educationCtrl.show()"><i class="fa fa-angle-down" ng-hide="educationCtrl.toggle"></i></a>
            <a class="" href ng-click="educationCtrl.hide()"><i class="fa fa-angle-up" ng-show="educationCtrl.toggle"></i></a>
        </h3>
  </div>
  <div ng-show="!educationCtrl.toggle">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="bs-callout bs-callout-warning" ng-repeat="edu in informations.education">
        <span><strong>{{edu.name}}</strong><span> {{'T_AT' | translate}} <span class="text-grey-color">{{edu.at}}</span>
      </div>
    </div>
  </div>
</div>
