<div class="row">
  <div class="img-profile">
    <img src="img/jesuslc.png" alt="profile picture" class="img-square img-responsive">
  </div>
  <div class="name-role">
    <h2>{{informations.personal_information.name}} {{informations.personal_information.surname}}</h2>
    <p class="lead">{{position}}</p>
  </div>
  <div class="contact-details">
    <br />
    <span class="print">Twitter:</span><span><a href="https://twitter.com/{{informations.personal_information.social_contacts.twitter}}" target="_blank"><i class="fa fa-twitter"></i> @{{informations.personal_information.social_contacts.twitter}}</a></span>
    <br />
    <span class="print">Email:</span><span><a href="mailto:{{informations.personal_information.email}}"><i class="fa fa-envelope"></i> {{informations.personal_information.email}}</a></span>
    <br />
    <span class="print">Github:</span><span><a href="https://github.com/{{informations.personal_information.social_contacts.github}}" target="_blank"><i class="fa fa-github"></i> {{informations.personal_information.social_contacts.github}}</a></span>
    <br />
    <span class="print">Linkedin:</span><span><a href="https://www.linkedin.com/in/{{informations.personal_information.social_contacts.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i> {{informations.personal_information.social_contacts.linkedin}}</a></span>
    <br />
    <span class="print">Web:</span><span><a href="{{informations.personal_information.web}}" target="_blank"><i class="fa fa-external-link"></i> {{informations.personal_information.web}}</a></span>
    <br />
    <span class="print">Skype:</span><span><a href="skype:{{informations.personal_information.social_contacts.skype}}?add"><i class="fa fa-skype "></i> {{informations.personal_information.social_contacts.skype}}</a></span>
    <br />
    <!--<span>{{informations.personal_information.location}}</span>
    <br />-->
  </div>
</div>
